.navi ul{
    padding-left: 0%;
}

#navigation, #main-content{
    overflow-y: scroll; 
    height: 100vh;
    overflow-x: scroll;
}

.dash-nav {
    position: fixed!important;
    top: 0; 
    width: 100%; 
    z-index: 1000;
}

.subnavi a {
    background: #182c59;
}

.subnavi i {
    margin-right: 15px;
    color: #5584ff;
}

.subnavi .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.subnavi a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}

.switch-category{
    align-content: center;
}

.own-drop-tog{
    margin-left: 5%!important;
}

.category-wrapper{
    width: 100%;
}